$grey:                          grey;
$light-blue:                    #85E1D6;
$blue:                          #4078E8;
$yellow:                        #FFFD55;

$medium-light-green:          #0B8C1F;
$light-green:                 #03A61C;
$darker-green:                #025908;
$medium-dark-green:           #02730A;
$dark-green:                  #038C0C;

$white:                       #FFFFFF;
$black:                       #001F00;